.hero-container {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-image: url('/src/assets/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay {
    width: 100%;
    height: 700px;
    position: absolute;
    background-color: #ACB6E5;
    opacity: 0.2;
}
.hero-content {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}
.hero-content h1 {
    font-size: 3rem;
}
.hero-content span{
    color: #FFA500;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: 0.3s ease-in;
}
.social-icons a:hover {
    color: #FFA500;
}
@media screen and (max-width: 576px) {
    .hero-content h1 {
        font-size: 2rem;
    }
}