.footer_all {
  background: url('/src/assets/footer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_top {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}
.big_txt {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  width: 50%;
  text-align: center;
}
.big_txt span {
  color: #FFD200;
}
.small_txt {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  width: 50%;
  text-align: center;
}
.small_txt span {
  color: #ffff1c;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer_middle {
  padding-top: 40px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}
.middle_first_half {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.adr_txt {
  font-size: 1.2rem;
  color: #fff;
  text-align: start;
  font-weight: 600;
}
.adr_txt span{
  color: #ffff1c;
}
.email_txt {
  font-size: 1.2rem;
  color: #fff;
  text-align: start;
  font-weight: 600;
}
.email_txt span {
  color: #ffff1c;
}
.middle_second_half {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_bottom {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.google_maps {
  width: 100%;
  height: 100%;
}
.flw_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.flw_title {
  color:#fff;
  font-size: 3rem;
  font-weight: 700;
}
.flw_title span {
  color: #FFD200;
}
.icons_con {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-top: 20px;
}
.flw_icon {
  color: #fff;
  font-size: 3rem;
  transition: 0.3s ease-in-out;
}
.flw_icon:hover {
  color: #FFD200;
}
@media only screen and (max-width: 1300px) {
  .footer_all {
    padding-left: 16px;
    padding-right: 16px;
  }
  .icons_con {
    width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .icons_con {
      width: 28%;
  }
}
@media only screen and (max-width: 992px) {
  .footer_top {
    flex-direction: column;
  }
  .big_txt {
    width: 100%;
  }
  .small_txt {
    width: 100%;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .big_txt {
    font-size: 2.5rem;
  }
  .icons_con {
    width: 55%;
  }
  .flw_title {
      font-size: 2rem;
  }
  .footer_middle {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 70px;
  }
  .middle_first_half {
    width: 100%;
  }
  .adr_txt {
    font-size: 0.8rem;
  }
  .email_txt {
    font-size: 0.8rem;
  }
  .middle_second_half {
    width: 100%;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 380px) {
  .small_txt {
    font-size: 0.8rem;
  }
  .small_txt span {
    font-size: 1rem;
  }
}
