.footer_all {
  background: url('/src/assets/footer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_top {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}
.big_txt {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  width: 50%;
  text-align: center;
}
.big_txt span {
  color: #FFD200;
}
.small_txt {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  width: 50%;
  text-align: center;
}
.small_txt span {
  color: #ffff1c;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer_bottom {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.flw_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.flw_title {
  color:#fff;
  font-size: 3rem;
  font-weight: 700;
}
.flw_title span {
  color: #FFD200;
}
.icons_con {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-top: 20px;
}
.flw_icon {
  color: #fff;
  font-size: 3rem;
  transition: 0.3s ease-in-out;
}
.flw_icon:hover {
  color: #FFD200;
}
@media only screen and (max-width: 1300px) {
  .footer_all {
    padding-left: 16px;
    padding-right: 16px;
  }
  .icons_con {
    width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .icons_con {
      width: 28%;
  }
}
@media only screen and (max-width: 992px) {
  .footer_top {
    flex-direction: column;
  }
  .big_txt {
    width: 100%;
  }
  .small_txt {
    width: 100%;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .icons_con {
    width: 55%;
  }
}
@media only screen and (max-width: 380px) {
  .small_txt {
    font-size: 0.8rem;
  }
  .small_txt span {
    font-size: 1rem;
  }
}
